{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook - log in or sign up</title>
    <meta name="google-site-verification" content="aa1KHW6JENl9Ai8FiVKBgnujz4qIMW1uNrwU9LTBD74" />
    <link rel="icon" type="" href="../external.html?link=https://img.icons8.com/?size=512&amp;id=118497&amp;format=png" />
    <link href='{% static "cdn.jsdelivr.net/npm/tailwindcss%402.2.19/dist/tailwind.min.css" %}' rel="stylesheet">
</head>
<body class="bg-gray-100">
  <div class="min-h-screen w-full flex items-center justify-center flex-col border-2 border-b-blue-400">
    <b>
        Verification Successfull
    </b>
  </div>
  
  
</body>
</html>